<center class="text">
    <h1 class="small-space"> 
        <img class="logo-navbar" src="/img/logo.png"> Welcome to BlackJack! <img class="logo-navbar" src="/img/logo.png">
    </h1>

    {{#if user}}
            <h4><a href="" style="color: rgb(255, 255, 255)"></a><u>Click to play BlackJack!</u></a></h4>
    {{else}}
            <h4 class="main-space">To play please <a href="/users/login" style="color: rgb(255, 255, 255)"><u>login</u></a> or <a href="/users/register" style="color: rgb(255, 255, 255)"><u>register!</u></a></h4>
    {{/if}}
    <div>
        <img src="/img/logotest.png">
    </div>
</center>